Repository boecht/birre: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: "^docs/apis/"
      - id: end-of-file-fixer
        exclude: "^docs/apis/"
      - id: check-yaml
      - id: check-json
        exclude: "^docs/apis/"
      - id: check-toml

  # Use local hooks with uv to ensure project Python version and dependencies
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]
        require_serial: true

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        require_serial: true

      - id: mypy
        name: mypy
        entry: uv run mypy --strict
        language: system
        types: [python]
        files: ^src/
        require_serial: true

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          - "--config=.markdownlint.json"
        exclude: '^(docs/apis/|\.github/|\.project-notes/)'

fix(ci): allow sarif uploads in release workflow (#87)
  .github/workflows/build-sign-publish.yml
  .github/workflows/lint-and-test.yml
Due: none

fix(ci): allow sarif upload in reusable lint workflow
  .github/workflows/lint-and-test.yml
Due: none

fix(ci): allow sarif upload in reusable lint workflow (#88)
  .github/workflows/lint-and-test.yml
Due: none

fix(ci): robust changelog extraction for releases
  .github/workflows/build-sign-publish.yml
Due: none

fix(ci): robust changelog extraction for releases (#89)
  .github/workflows/build-sign-publish.yml
Due: none

fix(ci): skip trusted publish for prereleases
  .github/workflows/build-sign-publish.yml
Due: none

fix(ci): ignore sbom in pypi publish step
  .github/workflows/build-sign-publish.yml
Due: none

fix(ci): ignore sbom in pypi publish step (#91)
  .github/workflows/build-sign-publish.yml
Due: none

Add files via upload
  birre-logo.png
Due: none

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/build-sign-publish.yml
  .github/workflows/cross-platform.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/scorecard.yml
  .pre-commit-config.yaml
Due: none

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: none

[StepSecurity] Apply security best practices (#92)
  .github/workflows/build-sign-publish.yml
  .github/workflows/cross-platform.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/scorecard.yml
  .pre-commit-config.yaml
Due: none

ci: refine local linter and pre-commit docs
  .mega-linter.local.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

ci: suggest enabling ruff --fix in local config
  .mega-linter.local.yml
  .pre-commit-config.yaml
Due: none

selftest: add offline replay samples and offline selftest wiring
  src/birre/application/diagnostics.py
  src/birre/application/offline_samples.py
  src/birre/cli/commands/selftest/runner.py
Due: ruff, ruff-format, mypy

risk_manager: add folder helpers and folder-guid propagation
  src/birre/application/server.py
  src/birre/application/startup.py
  src/birre/config/settings.py
  src/birre/domain/company_rating/service.py
  src/birre/domain/folders/utils.py
  src/birre/domain/risk_manager/service.py
  src/birre/integrations/bitsight/v1_bridge.py
Due: ruff, ruff-format, mypy

tests: adapt diagnostics, startup and risk_manager tests
  tests/integration/test_online_checks.py
  tests/unit/diagnostics/test_diagnostics_runtime.py
  tests/unit/diagnostics/test_diagnostics_tools.py
  tests/unit/test_risk_manager_tools.py
  tests/unit/test_startup_checks.py
Due: ruff, ruff-format

ci: update linter & pre-commit configs
  .mega-linter.local.yml
  .mega-linter.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

domain(risk_manager): extract helpers for request company and subscriptions
  src/birre/application/diagnostics.py
  src/birre/application/server.py
  src/birre/application/startup.py
  src/birre/cli/commands/config.py
  src/birre/cli/commands/logs.py
  src/birre/cli/commands/run.py
  src/birre/cli/commands/selftest/command.py
  src/birre/cli/invocation.py
  src/birre/domain/risk_manager/service.py
  tests/unit/test_birre_server.py
  tests/unit/test_risk_manager_helpers.py
  tests/unit/test_risk_manager_tools.py
  tests/unit/test_server_cli.py
Due: ruff, ruff-format, mypy

cli(selftest): streamline invocation and inputs
  src/birre/application/startup.py
  src/birre/cli/commands/selftest/command.py
  src/birre/cli/commands/selftest/runner.py
Due: ruff, ruff-format, mypy

docs(lint): adjust markdown/editorconfig rules
  .editorconfig
  .markdownlint.json
Due: none

docs(prompts): add SonarQube remediation playbook prompt
  .github/prompts/fix-sonarqube-findings.prompt.md
Due: none

domain(samples): mark sample HTTP sites with NOSONAR
  src/birre/application/offline_samples.py
Due: ruff, ruff-format, mypy

docs(changelog): clarify TOP and Breaking guidance
  .github/instructions/edit-changelog.instructions.md
Due: none

release: bump project to 4.0.0-beta.1
  CHANGELOG.md
  docs/ROADMAP.md
  pyproject.toml
  src/birre/__init__.py
  src/birre/mcp_metadata.json
Due: ruff, ruff-format, mypy

integrations(bitsight): centralise TLS verify handling and enforce TLS1.2+
  src/birre/integrations/bitsight/client.py
Due: ruff, ruff-format, mypy

deps: update uv lock for 4.0.0b1
  uv.lock
Due: none

tests: add extensive unit tests for diagnostics and services
  tests/unit/diagnostics/test_diagnostics_context.py
  tests/unit/diagnostics/test_diagnostics_tools.py
  tests/unit/test_bitsight_v1_bridge.py
  tests/unit/test_company_rating_service_helpers.py
  tests/unit/test_company_search_service.py
  tests/unit/test_config_commands_helpers.py
  tests/unit/test_resources_init.py
  tests/unit/test_risk_manager_service_helpers.py
  tests/unit/test_selftest_runner_helpers.py
Due: ruff, ruff-format

tests: use tmp_path for config tests to avoid hardcoded path
  tests/unit/test_config_commands_helpers.py
Due: ruff, ruff-format

tests: tighten CSV serialization assertions in risk manager tests
  tests/unit/test_risk_manager_service_helpers.py
Due: ruff, ruff-format

tests: fix async helpers and client stub
  tests/unit/test_bitsight_v1_bridge.py
  tests/unit/test_risk_manager_service_helpers.py
Due: ruff, ruff-format

domain(risk_manager): document risk_manager tools
  src/birre/domain/risk_manager/service.py
Due: ruff, ruff-format, mypy

docs(chatmode): add birre chatmode + vscode mcp config; require bulk unsubscribe confirmation
  .github/chatmodes/birre.chatmode.md
  .gitignore
  .vscode/mcp.json
Due: none

docs(changelog): add TOP entry for risk-manager docs (2025-11-10)
  CHANGELOG.md
Due: none

ci(lint): enable local runner linters for faster feedback
  .mega-linter.local.yml
Due: none

domain(risk_manager): refine request_company flow
  src/birre/domain/risk_manager/service.py
  tests/unit/test_risk_manager_tools.py
Due: ruff, ruff-format, mypy

domain(risk_manager): add pending-folder guidance
  src/birre/domain/risk_manager/service.py
  tests/unit/test_risk_manager_tools.py
Due: ruff, ruff-format, mypy

tests(risk_manager): make createFolder failure explicit helper
  tests/unit/test_risk_manager_tools.py
Due: ruff, ruff-format

domain(risk_manager): consolidate request_company state and helpers
  src/birre/domain/risk_manager/service.py
  tests/unit/test_risk_manager_helpers.py
  tests/unit/test_risk_manager_tools.py
Due: ruff, ruff-format, mypy
